<div *ngIf="selectedHero">
  <h2>{{selectedHero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedHero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedHero.name" placeholder="name">
    </label>
  </div>
</div>
<ul class="heroes">
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)" class="list-hero">
    <div class="hero">
      <div class="badge">
        {{hero.id}}
      </div>

      <div class="name">
        {{hero.name}}
      </div>
    </div>
  </li>
</ul>


